# =========================
# 🔥 PYTHON / FASTAPI
# =========================
__pycache__/
uploads/profile/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual environment
.venv/
venv/
env/

# Environment variables (SEMPRE esclusi)
.env
.env.*

# Build / dist
dist/
build/
*.egg-info/

# Uvicorn / runtime
*.pid

# =========================
# 🔥 DATABASE
# =========================
#*.db
*.sqlite3

# =========================
# 🔥 FIREBASE / SECRET
# =========================
firebase-adminsdk.json
*.pem
*.key

# =========================
# 🔥 IDE / SISTEMA
# =========================
.vscode/
.idea/
.DS_Store
*.swp


# =========================
# 🔥 FILE TEMP
# =========================
*.tmp
*.bak
*.cache

serviceAccountKey.json
firebase-adminsdk.json
